<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  <servlet>
    <servlet-name>WebAppServlet</servlet-name>
    <servlet-class>org.openhab.ui.webapp.internal.servlet.WebAutomationServlet</servlet-class>
       <load-on-startup>1</load-on-startup>
  </servlet>

  
  <servlet>
    <servlet-name>CmdServlet</servlet-name>
    <servlet-class>org.openhab.ui.webapp.internal.servlet.CmdServlet</servlet-class>
  </servlet>
  


<servlet>
	<servlet-name>wsChat</servlet-name>
	<servlet-class>org.atmosphere.sample.WebSocketDemo</servlet-class>
	</servlet> 

<servlet>
		<servlet-name>jersey-serlvet</servlet-name>
		<servlet-class>
                     com.sun.jersey.spi.container.servlet.ServletContainer
                </servlet-class>
		<init-param>
		     <param-name>com.sun.jersey.config.property.packages</param-name>
		     <param-value>com.openhab.core.rest,com.homeauto.core.chart</param-value>
		</init-param>
	<init-param>
		<param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
		<param-value>true</param-value>
	</init-param>		
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	
  <servlet-mapping>
    <servlet-name>WebAppServlet</servlet-name>
    <url-pattern>/openhab.app</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>CmdServlet</servlet-name>
    <url-pattern>/CMD</url-pattern>
  </servlet-mapping>
  

<servlet-mapping>
<servlet-name>wsChat</servlet-name>
<url-pattern>/chat</url-pattern>
</servlet-mapping>
  	

<servlet-mapping>
		<servlet-name>jersey-serlvet</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
	
</web-app>   